#appbar {
  background-color: blueviolet;
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

#appbar .logo {
  width: 70px;
}

#search {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0px 30px;
}

#search input {
  width: 100%;
  border: 1px #000 solid;
  border-radius: 10px;
  outline: none;
  font-size: large;
  text-transform: uppercase;
  padding: 10px;
}

#search input:focus {
  border: 3px green solid;
}

#search svg {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
}

input:focus + svg {
  color: green;
}

@media (max-width: 470px) {
  #appbar {
    height: 100px;
  }
  #search {
    margin: 0px 20px;
  }

  #search input {
    font-size: small;
  }

  #search svg {
    width: 20px;
    height: 20px;
  }

  #appbar .logo {
    width: 50px;
  }
}

@media (max-width: 360px) {
  #search {
    margin: 0px 10px;
  }
  #search input {
    font-size: smaller;
  }

  #search svg {
    width: 15px;
    height: 15px;
  }
}
