.container {
  background-color: #e5e5e5;
  min-width: 610px;
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: calc(90% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .grid {
  min-width: 1024px;
  width: 100%;
  display: grid;
}

.cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.principal-card,
.adjacent-card {
  display: flex;
  justify-content: center;
}

.principal-card {
  max-height: 300px;
}

.principal-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.adjacent-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 300px;
}

.principal-card-icon {
  width: 80px;
  height: 80px;
}

p {
  text-transform: capitalize;
}

@media (max-width: 980px) {
  .grid {
    height: 100%;
    grid-template-rows: 1fr 1fr;
  }

  .cards {
    grid-template-rows: 1fr 2fr;
  }

  .map {
    height: 100%;
    max-height: 600px;
    width: 100%;
    max-width: 750px;
    margin: auto auto;
  }
}

@media (min-width: 980px) {
  .grid {
    max-width: 1720px;
    height: 60%;
    max-height: 470px;
    grid-template-columns: 1fr 1fr;
  }

  .map {
    width: 80%;
    height: 100%;
    margin: auto auto;
  }
}
